export MYSQL_ROOT_PASSWORD=password
export MYSQL_USER=mysqluser
export MYSQL_PASSWORD=password
export MYSQL_PORT=3306
export MYSQL_URL="jdbc:mysql://127.0.0.1:3306/simple_journal_entry_db?autoReconnect=true&useSSL=false"
